# Data Science salaries

## Introduction

Como personas que estudian Datos, como gente que esta interesada en estudiarla, algo interesante a saber es saber al salario que uno puede aspirar.

Mi objetivo va a radicar estudiar el salario de un DataSience.

## Analisis univariante

El dataFrame cuenta de 12 variables distintas:

* **Work_year**: Año del que se toma en cuenta los datos
    * 2020-2024
    
* **Experience level**: Nivel de experiencia de la persona
    * Entri-Mid-Senior & executive
    
* **Employment_type**: Duracion de la jornada laboral
    * Full time, part time, contract, freelance
    
* **Job title**: Titulacion
    * Analytics Engineer, AI Engineer...
    
* **Salary**: Salario en la moneda  local donde trabajaba el trabajador

* **Salary currency**: Es la moneda en la que esta medido el salario
    * Euros (EUR), dolares (USD), Libra esternina (GBP) (Reino Unido)
    
* **Salary in usd**: Salario medido en dolares
    
* **Employee_residence**: Lugar de residencia de cada empleado
    * Estados unidos (Us), España (Es)...

* **Remote radio**: Indica si es un trabajo remoto y cuan remoto es
    * Trabajo totalmente presencial (0),Parcialmente remoto (50), completamente remoto (100)
    
* **Company location**: Localizacion de la empresa
    * apon (JP), Estados Unidos (US), España(ES)
    
* **Company size**: Tamaño de la empresa en funcion a los ingresos y numero de trabajadores
    * S, M, L

In [20]:
#Cargar los datos
df <- read.csv('DataScience_salaries_2024.csv')
head(df)

  work_year experience_level employment_type job_title
1 2021      MI               FT              Data Scientist
2 2021      MI               FT              BI Data Analyst
3 2020      MI               FT              Data Scientist
4 2021      MI               FT              ML Engineer
5 2022      SE               FT              Lead Machine Learning Engineer
6 2021      MI               FT              ML Engineer
  salary   salary_currency salary_in_usd employee_residence remote_ratio
1 30400000 CLP             40038         CL                 100
2 11000000 HUF             36259         HU                  50
3 11000000 HUF             35735         HU                  50
4  8500000 JPY             77364         JP                  50
5  7500000 INR             95386         IN                  50
6  7000000 JPY             63711         JP                  50
  company_location company_size
1 CL               L
2 US               L
3 HU               L
4 JP               S
5 IN               L
6 JP               S